@page "/room/{RoomId}"
@using Scrumpoker.Shared
@rendermode InteractiveServer

@if (!_initialized)
{
    <Loader/>
}
else
{
    <div class="room-container">
        @if (_room is null)
        {
            <p>Pokój nie istnieje.</p>
        }
        else
        {
            @if (!_joined)
            {
                <div
                    class="modal-backdrop"
                    @onclick="@(() => _joined = true)">
                    <div
                        class="modal-content"
                        @onclick:stopPropagation>
                        <div class="user-name-box">
                            <div class="user-name-box-top">
                                <img
                                    src="assets/goldCoin1.png"
                                    alt="Moneta"
                                    class="rotating-coin"/>
                                <span class="title">Dołącz!</span>
                            </div>
                            <div class="user-name-box-bottom">
                                <span class="user-name-label">Imię Gracza:</span>
                                <input
                                    class="user-name-input"
                                    @bind="_userName"
                                    autofocus
                                    @onkeydown="HandleKeyDown"
                                    placeholder="Gracz..."/>
                                <button
                                    class="primary-button"
                                    @onclick="Join">Dołącz
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="room-users-container">
                <div class="room-name-title">
                    <h3>@_room.Name (@_room.RoomId)</h3>
                    <div style="position: relative">
                        <button
                            class="action-button share"
                            @onclick="CopyLink">
                        <span class="material-icons-outlined">
                            share
                        </span>
                        </button>
                        @if (_showTooltip)
                        {
                            <div class="tooltip">@CopyStatus</div>
                        }
                    </div>

                </div>

                <div class="room-content">
                    <div class="table-base">
                        <div class="table">
                            <div class="room-cards">
                                @foreach (var card in _cards)
                                {
                                    var classes = "card";
                                    string hoveredClass;
                                    if (card == _selectedCard)
                                    {
                                        hoveredClass = _selectedCardImage;
                                        classes += " selected";
                                    }
                                    else if (card == _hoveredCard)
                                    {
                                        hoveredClass = _hoverCard;
                                    }
                                    else
                                    {
                                        hoveredClass = DefaultCard;
                                    }

                                    <button
                                        class="@classes @hoveredClass"
                                        @onclick="@(() => SelectCard(card))"
                                        @onmouseover="@(() => OnHover(card))"
                                        @onmouseout="OnLeave">
                                        @card
                                    </button>
                                }
                            </div>
                            <div class="actions">
                                @{
                                    var allSelected = AllSelected && !Revealed
                                        ? string.Empty
                                        : "disabled";
                                }
                                <button
                                    class="action-button reveal @allSelected"
                                    @onclick="Reveal">Pokaż karty
                                </button>
                                @{
                                    var revealed = Revealed
                                        ? string.Empty
                                        : "disabled";
                                }
                                <button
                                    class="action-button delete @revealed"
                                    @onclick="Clear">
                                    <span class="material-icons-outlined">
                                        delete
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="room-players">
                        <table>
                            <thead>
                            <tr>
                                <th>IMIĘ</th>
                                <th>KARTA</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var player in _room.Players.Values)
                            {
                                <tr>
                                    <td class="player-card-name">@player.UserName</td>
                                    <td>
                                        @if (_room.CardsRevealed)
                                        {
                                            <div class="revealed-card">
                                                @(player.Card ?? "—")
                                            </div>
                                        }
                                        else
                                        {
                                            if (player.Card == null)
                                            {
                                                <div class="none-card">-</div>
                                            }
                                            else
                                            {
                                                <div class="chosen-card">?</div>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
}
